/* 全局样式 */
:root {
    --primary-color: #333;
    --secondary-color: #f4f4f4;
    --link-color: #0084ff;
    --link-hover-color: #0056b3;
    --text-color: #333;
    --background-color: #f8f8f8;
    --white: #ffffff;
    --box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* 头部样式 */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
    height: 100px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header h1 a {
    color: var(--white);
    text-decoration: none;
}

/* 导航栏样式 */
.nav-bar {
    background-color: var(--secondary-color);
    overflow-x: auto; /* 添加横向滚动条以适应内容 */
    white-space: nowrap; /* 防止内容换行 */
    padding: 10px 0;
}

.nav-bar ul {
    display: inline-flex; /* 保持列表横向排列 */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-bar ul li {
    margin: 0 15px;
}

.nav-bar ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
    transition: color 0.3s ease;
    display: inline-block; /* 确保链接内容为块元素，便于对齐 */
}

.nav-bar ul li a:hover {
    color: var(--link-hover-color);
}

/* 页面主要内容区域样式 */
.container {
    width: 80%;
    margin: 20px auto;
    background-color: var(--white);
    padding: 20px;
    box-shadow: var(--box-shadow);
}

/* 底部样式 */
footer {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
}

/* 响应式样式 */
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    header h1 {
        font-size: 1.5em;
    }
    .container {
        width: 90%;
    }
    .nav-bar ul li a {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }
    .nav-bar ul li a {
        font-size: 0.8em;
    }
}
